server {

	listen 0.0.0.0:8080;
	root www/;
	index index.html;
	autoindex on;

	allowed_methods GET POST DELETE;
	location upload/ {

		index up.html;
		autoindex on;
	}

	location PHP/ {
		index fileCGI.php;
	}

	location RED/ {

		return 302 https://www.rfc-editor.org/;
	}

	location CGI/ {
		index index.html;
	}

}

server {

	listen 0.0.0.0:8081;
	root www/;
	autoindex on;
}