server {

	listen 0.0.0.0:8080;
	root www/;
	index index.html;
	autoindex on;

	location upload/ {

		index upload_.html;
		autoindex on;
	}

	location PHP/ {

		index fileCGI.php;
	}

	location www:root/ {

		index index.html;
	}

	location start/ {

		index index.html;
	}
}

server {

	listen 0.0.0.0:8081;
	root www/;
	autoindex on;
}