server {

	listen 0.0.0.0:8080;
	root www/;
	index indes.html;
	autoindex on;

	location / {
		root www/;
		index index.html;
		error_page 404 ErrorFiles/404.html;
	
	}

	location upload/ {
		index upload_.html;
		autoindex on;
		allowed_methods POST;
	}

	location PHP/ {

		index fileCGI.php;
	}

	location www:root/ {
		error_page 404 ErrorFiles/404.html;
		index index.html;
	}
}

server {

	listen 0.0.0.0:8081;
	root www/;
	autoindex on;
}